<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header.html :: headLinks">
    <title>Voting system</title>
    <link rel='stylesheet' th:href="@{/resources/bootstrap.min.css}"/>
    <!--    <script type='text/javascript' th:src="@{/resources/jquery.min.js}"/>-->
    <!--    <script type='text/javascript' th:src="@{/resources/bootstrap.min.js}"/>-->
    <script type='text/javascript' src="/resources/bootstrap.min.js"/>
    <script type='text/javascript' src="/resources/jquery.min.js"/>
    <link th:href="@{/resources/custom-styles.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="/header.html :: header">
        123
</div>
</body>
</html>